* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: white;
}



/* ---- isotope ---- */

.content {
  border: 0px solid #333;
  position: absolute;
  width: 850px;
  left: 50%;
  margin-left: -420px;
}

/* clear fix */
.content:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-image {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 0;
  /*background: #888;
  color: #262524;*/
  border-radius: 1em;
}
.element-image > * {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}
.filter
{
opacity:1.0;
filter:alpha(opacity=40); /* For IE8 and earlier */
}
.filter:hover
{
border: 5px solid red;
border-radius: 5px;
opacity:0.4;
color: red;
filter:alpha(opacity=40); /* For IE8 and earlier */
}

